body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("images/2.JPG");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

.container{
    width: 80%;
    margin: auto;
}

.header{
    text-align: center;
    /*text-transform: uppercase;*/
    margin: 0px 0;
    /*letter-spacing: 2px;*/
    /* color: white;*/
}

.container .header img{
    height: 130px;
    width: 130px;
    border-radius: 100px;
    margin-top: 90px;
}
.container .header .logo1 img{
    width: 270px;
    height: 70px;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.container .header h1 p{
    font-family: 'Pacifico', cursive;
}

.body{
    padding: 0px 0;
    text-align: center;

}

.body button {
    width: 100%;
    height: 60px;
    border-radius: 30px 0 30px 0;
    border: none;
    box-shadow: 2px 2px 4px #b76161;
    background-image: linear-gradient(to right, #fe698e, #eda3b5);
    /*fe698e*/
    margin: 10px 0;
    transition: .5s ease;
    font-size: 24px;
    color: wheat;
    padding-bottom: 10px;
}

.body button:hover {
    background-image: linear-gradient(to right, #eda3b5, #fe698e);
    /*transform: scale(1.05);*/
    border-radius: 0 30px 0;
}

.body button i{
    margin: 0 5px;
    margin-top: 25px;
    color: wheat;
}

.body button p{
    margin: 0;
    font-size: 20px;
    color: wheat;
    margin-top: 20px;
}

.container .logo{
    text-align: center;
}
.container .logo img{
    width: 220px;
    height: 150px;
}
